<form method="post" action="{{ action }}">

  <div class="modal-header">
    <h5 class="modal-title">Editar alarma carga</h5>
  </div>

  <div class="modal-body">
      {% csrf_token %}
      <div class="row">

        <div class="col">  
          <label for="tipo" class="col-form-label col-form-label-sm">Tipo</label>
          <select class="form-select form-select-sm" id="tipo" name="tipo">
            {% for value, text in form.tipo.field.choices %}
              {% if value != "" %}<option value="{{ value }}" {% if value == form.tipo.value %}selected{% endif %}>{{ text }}</option>{% endif %}
            {% endfor %}
          </select>
        </div>

        <div class="col"> 
          <label for="valor" class="col-form-label col-form-label-sm">Valor</label>
          <input type="number" class="form-control form-control-sm" id="valor" name="valor" value="{{ form.valor.value }}" required>
        </div>

      </div>
      
      <div class="col"> 
        <input type="checkbox" name="habilitada" id="habilitada" {% if form.habilitada.value %}checked{% endif %}>
        <label class="form-check-label small" for="habilitada">Habilitada</label>
      </div>

      <div role="group">
        {% for value, text in form.tipo.field.choices %}
          {% if value != "" %}
          <div class="form-check small">  
            <input class="form-check-input" value={{value}} type="radio" name="tipo" id="tipo" {% if value == form.tipo.value %}checked{% endif %}>
            <label class="form-check-label">{{text}}</label>
          </div>
          {%endif%}
        {% endfor %}
      </div>

  </div> 
  
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary btn-sm" data-dismiss="modal">Cerrar</button>
    <button type="submit" class="btn btn-primary btn-sm">Guardar cambios</button>
  </div>

</form>
    
